@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './styles/styles.css'; */

html {
  color-scheme: dark;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */

  /* @apply font-sans; */
  /* @apply font-sans; */
}

@layer base {
  @import '@dutchcelt/system.css';

  ::backdrop {
    /* background-color: var(--system-content-color-dark); */
    background-color: color-mix(
      in srgb,
      var(--system-content-color-dark) 50%,
      transparent
    );
  }

  dialog {
    @apply rounded;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  table {
    overflow: initial;
    display: table;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .input {
    @apply w-full m-0;

    &:where(select) {
      background-size: 28px;
    }
  }

  .label {
    @apply block mb-1 uppercase;
  }

  .form-control {
    @apply p-2 rounded-lg border-2;
  }

  .button-control {
    @apply p-2 w-12 text-center justify-center items-center;
  }

  .tr:has(input:checked) {
    background-color: var(--system-interactive-color);
    color: var(--system-canvas-text-inverted);
  }

  .th {
    @apply p-2 sticky z-10 uppercase;

    /* background-color: var(--system-stroke-color); */
    /* border-color: var(--system-canvas-text); */
    background-color: var(--system-canvas-text);
    color: var(--system-canvas);
    /* border-bottom: var(--system-stroke-thin) solid var(--system-stroke-color); */
    top: -1px;
  }

  .td {
    @apply p-2;

    /* border-color: canvasText; */
  }

  .bar {
    background-color: var(--system-surface-color);
    border-top: var(--system-stroke-medium) solid var(--system-stroke-color);
  }

  .submit-button {
    background: var(--system-interactive-color);
    color: var(--system-canvas-text-inverted);
    border: var(--system-stroke-thin) solid var(--system-accent-color);
  }
}
