@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './styles/styles.css'; */

body {
  /* font-family: Arial, Helvetica, sans-serif; */

  @apply bg-gray-200 font-sans;
  /* @apply font-sans; */
}

@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .input {
    @apply caret-pink-700 border-2 rounded-md w-full p-2 text-lg text-gray-700 leading-tight focus:outline-none focus:border-gray-500;
  }

  .label {
    @apply block text-gray-700 text-base font-bold mb-1 uppercase;
  }

  .form-control {
    @apply shadow p-2 rounded-lg border-2 bg-gray-100 has-[input:focus]:border-pink-500 has-[select:focus]:border-pink-500 has-[button:focus]:border-pink-500;
  }

  .button-control {
    @apply caret-pink-700 appearance-none border-2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-gray-500 bg-white w-12 font-bold;
  }
}
